@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-size: 20px;
  font-family: Josefin Slab;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;

    a {
      color: #664C4B;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0.5em 1em;

      &:hover {
        background-color: darken(#FFF560, 10);
      }
    }
  }
}


.icon--archie {
  background-image: url('archie.svg');
  background-size: contain;
  background-position: center;
  height: 70px;
  width: 70px;
}
