<!doctype html>
<html>

<head>
  <title>React App</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class="container" id="ReactApp" data-app-route="<%- Route %>" >
    <%- ReactApp %>
  </div>

  <!-- replace these with browserify modules  -->
  <script src="https://www.webrtc-experiment.com/RecordRTC.js"></script>
  <script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>

  <script src="script.js"></script>

</body>

</html>
