@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-size: 20px;
  font-family: Josefin Slab;
}
.contain {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  padding: 1em;
}
.archie-menu {
  margin: 0 0 1em;
  border-bottom: 2px solid #333;
  overflow: auto;
  margin: 0 auto;
}
.archie-menu-items {
  float: right;
}
