@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules');

* { margin: 0; padding: 0; box-sizing: border-box; }


$yellow: #e6af4b;
$orange: #e05038;
$pink: #f2cbbc;
$dark: #334431;

body {
  font-size: 30px;
  font-family: Josefin Slab;
}
.contain {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  padding: 1em;
  min-height: 1000px;
}

.archie__logo { display: none; }
.archie-menu {
  // font-family: 'Bigelow Rules', cursive;
  // font-size: 1.25em;
  left: 0; right: 0; bottom: 0;
  background-color: rgba($yellow, 0.9);
  border-bottom: 4px solid $dark;
  overflow: auto;
  position: fixed;
}
.archie-menu-items {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  justify-content: space-around;
  list-style-type: none;
}
.archie__logo,
.archie-menu-item {
  transition: all 0.3s;
  &:hover {
    background-color: $dark;
    a { color: $pink; }
  }
  a { padding: 0.25em 0.75em; display: block; color: $dark; text-decoration: none; }
}

@media all and (min-width: 640px) {
  .content {
    margin-top: 2em;
  }
  .archie__logo { display: inline-block; }
  .archie-menu-items { float: right; }
  .archie-menu {
    top: 0;
    bottom: auto;
  }
}
